<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frete</title>
</head>

<body>
    <h1>Sistema que calcula Frete</h1>

    <div class="resultado">
        <h2>Resultado:</h2>
        <p><strong>Valor do Pedido:</strong>R$  {{ valor_pedido }}</p>
        <p><strong>Valor do Frete:</strong> R$ {{ valor_frete }}</p>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <label for="peso">Peso (kg):</label>
        <input type="number" name="peso" id="peso" step="0.01" required>

        <label for="distancia">Distancia (km):</label>
        <input type="number" name="distancia" id="distancia" step="0.01" required>

        <label for="tipo_entrega">Tipo de Entrega:</label>
        <select name="tipo_entrega" id="tipo_entrega" required>
            <option value="expressa">Expressa</option>
            <option value="economica">Economica</option>
        </select>

        <label for="volume">Volume (m3):</label>
        <input type="number" name="volume" id="volume" step="0.01" required>

        <label for="localidade">Localidade:</label>
        <select name="localidade" id="localidade" required>
            <option value="interior">Rural</option>
            <option value="cidade">Urbana</option>
        </select>

        <label for="valor_pedido">Valor do Pedido (R$, em reais):</label>
        <input type="number" name="valor_pedido" id="valor_pedido" step="0.01" required>

        <input type="submit" value="Calcular Frete">
    </form>
</body>

</html>